{% extends "base.html" %}

{% block title %}
Personality quiz!
{% endblock title %}

{% block body %}
<div class="container mt-2">
    <h1>Quizzes</h1>
    <div class="quiz-cards">
        {% for quiz in quizzes %}
        <div class="card">
        {% if quiz['img'] %}
        <img class="card-img-top" src="{{ quiz['img'] }}" alt="">
        {% else %}
        <div class="card-body">
            <h2 class="card-title mb-0">{{ quiz['name'] }}</h2>
            <p class="font-italic">By {{ quiz['author'] }}</p>
            <p class="card-text">{{ quiz['description'] }}</p>
            <a href="/quiz/{{ quiz['slug'] }}" class="btn btn-primary">Take quiz!</a>
        </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}