{% extends "base.html" %}

{% block title %}
Quiz: {{ metadata['name'] }} ({{ metadata['author'] }})
{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="mb-0">{{ metadata['name'] }}</h1>
    <p class="font-italic">By {{ metadata['author'] }}</p>

    <p class="lead">{{ metadata['description'] }}</p>

    {% for i, key, question in questions %}
    <div class="card mb-2">
        {% if question['img'] %}
        <img class="card-img-top" src="{{ question['img'] }}" alt="{{ question['img_alt'] }}">
        {% else %}
        <div class="card-body">
            <p class="font-italic">Question {{ i + 1 }}</p>
            {% if question['prompt'] %}
            <h2 class="card-title mb-0 h5">{{ question['prompt'] }}</h2>
            {% endif %}
            {{ question['left'] }}
            {{ question['right'] }}
        </div>
        {% endif %}
    </div> 
    {% endfor %}
</div>
{% endblock body %}